.list_title{
    text-align: center;
    background-color: lightgreen;
}
.table_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button_div{
    display: flex;
    justify-content: space-around;
    margin: 30px;

}
.table_header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box_table{
    margin-top: 40px;
    border: 1px solid lightgreen;
}