.list_title{
    text-align: center;
}
.table_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button_div{
    display: flex;
    justify-content: space-around;

}
.table_header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}