.button_functions{
    height: 20px;
}
.button_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightseagreen;
    height: 50px;
}
.table_header{
    background-color: lightseagreen;
    width: 100%;
}
.table_button-view{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_title{
    background-color: lightseagreen;
    width: 100%;
}