.paper_box{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 150vh;
    margin: 100px 500px;

}
.paper{
    background-color: lightsteelblue;
}
.page_body{
    background-color: lightseagreen;
    width: 100%;
    height: 100%;
}

div{
    display: inline-block;
}

.tableuser{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.tablesongs{
    display: flex;
    justify-content: center;
    padding: 30px;
}